<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>An Phuc - ExpressJS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css" />
      <link rel="icon" type="image/x-icon" href="https://258016022-files.gitbook.io/~/files/v0/b/gitbook-legacy-files/o/spaces%2F-MNiMrLaUTL2NXNfv-a9%2Favatar-1607096023716.png?generation=1607096024133284&alt=media">
  </head>  
  <body class="bg-neutral-200">
    <header>
      {{>header}}
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      {{>footer}}
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>